body {
    background: red;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr; /* 5 columns */
    grid-template-rows: 3fr 3fr; /* 5 rows */
    border: black solid 2px;
    width: 100vw; /* Set a fixed width */
    height: 100vh; /* Set a fixed height */
}

.plot {
    border: 1px solid black; /* Optional: add a border to each cell for visibility */
    background-color: white; /* Set a color to make the cells visible */
}

#imageS {
    width: 250px;
    height: 250px;
}

.plot.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plot.button > button {
    height: 100px;
    width: 250px;
    border: 3px black solid;
    border-radius: 15px;
}