a {
    color: black;
    text-decoration: none;
    /* padding: 5% 10% 5% 10%;
    background-color: #fadf87;
    border: solid #c25bc2 5px;
    border-radius: 50px; */
}
/* a:hover {
    background-color: #23b32a;
    border-color: #4f3a8a;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1vw;
    text-align: center;
    flex-wrap: wrap;
}

div.btns {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

div.btns > a {
    transition: all 0.5s;
}

/* div.btns > a:hover {
    background-color: pink;
} */

div.backBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

div.backBtn > a {
    padding: 2% 5% 2% 5%;
    border-radius: 50px;
    transition: all .5s;
}
div.backBtn > a:hover {
    padding: 7% 5% 2% 3%;
    border-radius: 50%;
}

.card{
    width: 15%;
    padding: 30px 0 30px 0;

    background: #EEEEEE;
    border: grey 1px solid;
    border-radius: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: all 0.2s;
}
.card:hover{
    background-color: #00ADB5;
    border: #EEEEEE 1px solid;
}

.cardImgDiv {
    display: flex;
    background: black;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 1rem;
}
.cardImgDiv > img {
    height: 200px;

    border-radius: 1rem;
}

.cardTitleDiv {
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 1rem;
    background-color: grey;
    margin-bottom: 1rem;
}
.cardTitleDiv > p {
    font-size: 1.3rem;
}