html {
    margin: 0;
    padding: 0;
    background: black;
}
h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
}
h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10rem;
    color: yellow;
}
h3 {
    color: white;
}
p {
    text-align: center;
    font-size: 2rem;
    color: green;
}
#dagReveal {
    display: none;
}
.sprsml {
    display: none;
}
#fridayCheck {
    display: none;
}
#countdown {
    display: none;
}
#ja {
    display: none;
}
#nei {
    display: none;
}