body{
    background-color: #FFE1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.bg-img{
    background-image: url("../resourcres/maarksinrompefjellLilla.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}


.header{
    width: 70%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: #433878 solid 2px;
}

h1{
    color: #433878;
    font-size: 7vw;
    font-weight: bold;
    text-shadow: black .1vw .2vw;
    margin: 0;
    padding: 0;
}

h2 {
    color: #433878;
    text-shadow: black .08vw .13vw;
    font-weight: bold;
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 3vw;
    color: #433878;
    
}

.hver-dag {
    width: 70%;
}

.velg-3 {
    width: 70%;
    padding-bottom: 7vh;
}

.header {
    width: 70%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 2vh;
    border-bottom: #433878 solid 2px;
}

.dark-blue {
    color: darkblue;
}

.red {
    color: red;
}

.boring-green {
    color: #6B8E23; /* OliveDrab color for boring green */
}

.green {
    color: rgb(35, 181, 35);
}

.purple {
    color: purple;
}

.grey {
    color: grey;
}

.brown {
    color: brown;
}

.dark-purple {
    color: #4B0082; /* Indigo or a darker shade of purple */
}

.light-brown {
    color: #D2B48C; /* Tan */
}

.orange {
    color: orange;
}

.teal {
    color: #085c5c; /* Standard teal hex code */
}

.pink {
    color: #ed75d3;
}

li {
    font-size: 2.5vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.fin-boks {
    height: 2.5vw !important;
    width: 2.5vw !important;
    accent-color: #7E60BF !important;
}
span {
    width: 40%;
    display: flex;
    justify-content: end;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-container > button {
    border: none;
    height: 3vw;
    width: 10vw;
    background-color: #7E60BF;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 5vh;
    transition: all 0.1s;
}

.welcome-container > button:hover {
    background-color: #433878;
    color: white;
}

.exitDagplanlegger {
    border: none;
    height: 3vw;
    width: 10vw;
    background-color: #7E60BF;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    transition: all 0.1s;
    position: fixed;
    top: 1rem;
    left: 1rem; 
}

.exitDagplanlegger:hover {
    background-color: #433878;
    color: white;
}
