
.dark-blue {
    color: darkblue;
}

.red {
    color: red;
}

.green {
    color: rgb(35, 181, 35);
}

.purple {
    color: purple;
}

.brown {
    color: brown;
}

.orange {
    color: orange;
}

li{
    font-size: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.fin-boks{
    height: 2.5vw !important;
    width: 2.5vw !important;
    accent-color: #7E60BF !important;
}
span{
    width: 40%;
    display: flex;
    justify-content: end;
}

h1{
    color: #433878;
    font-size: 7vw;
    font-weight: bold;
    text-shadow: black .1vw .2vw;
    margin: 0;
    padding: 0;
}

h2{
    color: #433878;
    text-shadow: black .08vw .13vw;
    font-weight: bold;
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

h3{
    font-size: 3vw;
    color: #433878;
    
}

.hver-dag{
    width: 70%;
}

.velg-3{
    width: 70%;
    padding-bottom: 7vh;
}

.header{
    justify-content: space-between;
}

.no-content{
    display: none;
}

fieldset{
    display: flex;
    justify-content: start;
    gap: 7%;
    width: 100%;
}

legend{
    font-size: 20px;
}

.trashcanSvg {
    height: 40px;
    padding: 5px;
    color: black;
    font-size: medium;
}
.trashcanSvg:hover {
    background-color: #eed2ee;
    border-radius: .7rem;
}

.actvityDiv {
    display: flex;
    justify-content: start;
}